*/.project
*/.settings
*/target
target/
*/tomcat
tomcat/
*.jar
*.war
*.zip
*.tar
*.tar.gz
.settings/
.project
.classpath
.idea/
*.ipr
*.iml
*.iws
*.log
*.cache
*.sass-cache
*.diff
*.patch
*.tmp
*.log.*
.DS_Store
Thumbs.db
!doc/lib/*.jar
!mybatis/lib/*.jar
*/*/.listen_test
biz-controller/src/main/webapp/resources/*
biz-controller/src/main/webapp/upload/*
front-fses/node_modules/*
*/*/Start*Server.java
*/public/*
templates.js
*.bak
